# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Python build files
build/
dist/
*.egg-info/

# Test/cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/absorbance/log

# Android / Gradle
.gradle/
.idea/
local.properties
*.iml
android/ISC_NIRScan_Android/app/*.apk
